body {
    background: linear-gradient(180deg, var(--wp--preset--color--base) 0%, #fff 700px) no-repeat;
}

.wp-block-image figcaption {
	text-align: center;
}

.wp-block-quote {
	border-left: 5px solid var(--wp--preset--color--primary)
}

img.avatar.avatar-48.photo {
	border-radius: 50%
}
