.wp-block-image figcaption {
	text-align: center;
}

.wp-block-quote {
	border-left: 5px solid var(--wp--preset--color--primary)
}

img.avatar.avatar-48.photo {
	border-radius: 50%
}

.wp-block-post-author__content {
	padding-top: 11px
}